/output
/dl
/download
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
linux/Linux_Pack_Firmware/rockdev/mkupdate.sh
linux/Linux_Pack_Firmware/rockdev/package-file
windows/AndroidTool/AndroidTool_Release/config.cfg
windows/AndroidTool/rockdev/mkupdate.bat
windows/AndroidTool/rockdev/package-file
linux/Linux_Pack_Firmware/rockdev/update.img
