#ifndef _rk_graphics_rga_version_h_
#define _rk_graphics_rga_version_h_

#define RGA_IM2D_VERSION "1.11"
#define RGA_LIB_VERSION "1.04"
#define RGA_BUILT_VERSION "$FULL_VERSION"

#endif /* _rk_graphics_rga_version_h_ */
