Source: gstreamer1.0-rockchip
Priority: optional
Maintainer: Jeffy Chen <jeffy.chen@rock-chips.com>
Build-Depends: debhelper (>= 9), autotools-dev,
 librockchip-mpp-dev, librga-dev, libx11-dev, libdrm-dev,
 libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev
Standards-Version: 3.9.8
Section: libs
Homepage: http://www.rock-chips.com/

Package: gstreamer1.0-rockchip1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Gstreamer plugins for Rockchip platforms.
